@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  color: #090909;
}


.hero-banner-container{
  background-image: url(/images/backgrounds//bg-grid.svg),url(/images/backgrounds/bg-gradient.svg) ;
  background-size:auto auto;
  background-position: 50% 20%,50% 3%;
  background-color: #f5f3f0;
}
