@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  color: #090909;
}

.progress-bar {
  transform-origin: 0%;
}

.hero-banner-container{
  background-image: url(/images/backgrounds//bg-grid.svg),url(/images/backgrounds/bg-gradient.svg) ;
  background-size:auto auto;
  background-position: 50% 20%,50% 3%;
  background-color: #f5f3f0;
}

.gradient-text{
  display: inline-block;
    margin-top: 10px;
    background-image: linear-gradient(75deg,#152ab2,#000 33.33%,#152ab2 66.66%,#c54687);
    font-size: 30px;
    line-height: 1.4;
    font-weight: 700;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.linkdin-container{
  display: flex;
  width: 40.6px;
  height: 40.6px;
  padding: 2px 2.5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  background-image: linear-gradient(143deg,#090909,#152ab2 52%,#00c2ff);
}

.linkdin-inner-container{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: 0.3s;
}

.linkdin-inner-container:hover .linkdin-logo{
  filter: invert(100%);
}

.linkdin-logo{
  filter: invert(0%);
  transition: 0.3s;
}

.motion-animation{
  animation-name: motion;
  animation-duration: 1.2s;
  transform-style: preserve-3d;
}

@keyframes motion {
  from {
    transform:translateY(0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
     opacity: 0;
     padding-top: 100px;
    }
  to {
    transform:translateY(0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
    padding-top: 0px;

  }
}

.fade-animation{
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  0% {
     opacity: 0;}
  20% {
      opacity: 0;
    margin-top: -60px;
    }
  100% {
    opacity: 1;
    margin-top: 0px;
  
  }
}

.open-account-container{
  background-image: url(/images/assets/open-account-background.png) ;
  background-size: cover;
}